.page
  position relative
  min-height 100%
  clearfix()

  .ua--pc &
    min-width 1024px

    @media only screen and (min-width: 1024px)
      overflow-x hidden

  .ua--pc &--width
    margin 0 auto
    width CONTAINER
