.row
    display table
    table-layout fixed
    width 100%
    overflow hidden

    &__cell
        display table-cell
        vertical-align top

    &__gutter
        display table-cell
        width 1em
        font-size gutter
