mixin a

  a&attributes(attributes).a(ontouchstart="")
    block

mixin body

  body&attributes(attributes).body(ontouchstart="")
    block

mixin button

  button&attributes(attributes).button(ontouchstart="")
    block

mixin label

  label&attributes(attributes).label(ontouchstart="")
    block
