include /html6/elements/main

doctype
+html(lang="ja")
  +head
    +title +row() - UI Testing
  +body
    .page
      section.page__body.padding--lr-1rem
        +row
          +row__cell
            | A
        +row
          +row__cell
            | A
          +row__cell
            | B
        +row
          +row__cell
            | A
          +row__cell
            | B
          +row__cell
            | C
        +row
          +row__cell
            | A
          +row__cell
            | B
          +row__cell
            | C
          +row__cell
            | D
