include /html6/elements/main

doctype
+html(lang="ja")
  +head
    +title UI Testing
  +body
    .page
      section.page__body
        h1.margin--lr-1rem HTML6 UI Testing
        ul.line-height--xx-wide
          li
            a(href="accordion/" style="width:7em;").display--inline-block +accordion()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/accordion/index.jade").font--small [Source]
          li
            a(href="checkbox/" style="width:7em;").display--inline-block +checkbox()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/checkbox/index.jade").font--small [Source]
          li
            a(href="details/" style="width:7em;").display--inline-block +details()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/details/index.jade").font--small [Source]
          li
            a(href="form/" style="width:7em;").display--inline-block form
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/form/index.jade").font--small [Source]
          li
            a(href="label/" style="width:7em;").display--inline-block +label()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/label/index.jade").font--small [Source]
          li
            a(href="rating/" style="width:7em;").display--inline-block +rating()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/rating/index.jade").font--small [Source]
          li
            a(href="rem/" style="width:7em;").display--inline-block rem
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/rem/index.jade").font--small [Source]
          li
            a(href="select/" style="width:7em;").display--inline-block +select()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/select/index.jade").font--small [Source]
          li
            a(href="switch/" style="width:7em;").display--inline-block +switch()
            +spacer
            | ...
            +spacer
            a(href="https://github.com/BYODKM/HTML6/blob/gh-pages/src/html6/tests/switch/index.jade").font--small [Source]
