include /assets/elements/main

doctype
+html(lang="ja")
  +head
    +title rem - Tests
  +body
    .page
      section.page__body.padding--lr-1rem
        p.font--xx-small .font--xx-small 
        p.font--x-small .font--x-small 
        p.font--small .font--small 
        p.font--medium .font--medium 
        p.font--large .font--large 
        p.font--x-large .font--x-large 
        p.font--xx-large .font--xx-large 
