include /html6/elements/main

doctype
+html(lang="ja")
  +head
    +title +select() - UI Testing
  +body
    .page
      section.page__body.padding--lr-1rem
        p
          | Native
          +spacer
          select
            option select
        p
          | Reset
          +spacer
          select.select
            option .select
        p
          | HTML6
          +spacer
          +select
            option +select
