.details

  &__status
    display none !important

    &:not(:checked) + div

      .details__block
        height 0 !important

    &:checked + div

      .details__summary:before
        transform rotate(0deg) scale(0.7)

  &__summary,
  &__block
    padding-left 1.25em

  &__summary
    position relative
    display block
    cursor pointer
    user-select none

    &:before
      content "▼"
      absolute 0 false false 0
      display block
      transform rotate(-90deg) scale(0.7)
      transition 0.3s

  &__block
    overflow hidden
    transition 0.3s
