include /html6/elements/main

doctype
+html(lang="ja")
  +head(responsive="true")
    +title Title
    +meta(description="")
  +body#top
    .page#page--index
      section.page__body.padding--lr-1rem
        h1 Heading
        h2 Heading
        h3 Heading
