include /assets/elements/main

doctype
+html(lang="ja")
  +head
    title rating - Tests - 3000
  +body
    .page
      section.page__body.padding--lr-1em
        p.text--center
          +rating(value="3")
