/* @2x */
{{#items}}

.sprite--{{name}}
  box-sizing border-box
  display inline-block
  padding-top {{px.height}} * 0.5
  width {{px.width}} * 0.5
  height 0
  overflow hidden
  background-image url("{{{escaped_image}}}")
  background-size {{px.total_width}} * 0.5 {{px.total_height}} * 0.5
  background-position {{px.offset_x}} * 0.5 {{px.offset_y}} * 0.5
{{/items}}
