mixin button

  //- Usage: +button(type="submit")

  //-
    - Usage: +button(href="/")
    - Yield: a.button(href="/")

  if (attributes.href || attributes.href == "")
    a&attributes(attributes).button
      block

  else
    button&attributes(attributes).button
      block
