mixin row

  //- Usage: +row(width="90%")

  - var width = attributes.width
  - attributes.width = null

  if (width)
    if (attributes.style)
      - attributes.style += "; width:" + width + ";"
    else
      - attributes.style = "width:" + width + ";"

  div&attributes(attributes).row
    block



mixin row__cell

  //- Usage: +row__cell(width="30%")

  - var width = attributes.width
  - attributes.width = null

  if (width)
    if (attributes.style)
      - attributes.style += "; width:" + width + ";"
    else
      - attributes.style = "width:" + width + ";"

  div&attributes(attributes).row__cell
    block



mixin row__gutter

  //-
    - Usage: +row__gutter(by="2")
    - Yield: div.row__gutter(style="width: 2em;")

  - var by = attributes.by
  - attributes.by = null

  if (by)
    if (attributes.style)
      - attributes.style += "; width:" + by + "em;"
    else
      - attributes.style = "width:" + by + "em;"

  div&attributes(attributes).row__gutter
