include /assets/elements/main

doctype
+html(lang="ja")
  +head
    +title +select() - UI Testing
  +body
    .page
      section.page__body.padding--lr-1rem
        p
          select
            option select
        p
          select.select
            option select.select
        p
          +select
            option +select
