include /assets/elements/main

doctype
+html(lang="ja")
  +head
    +title form - UI Tests
  +body
    .page
      section.page__body.padding--lr-1rem
        p
          +button +button()
          +spacer
          +button(href="") a.button
        p
          +input(type="text" value="" placeholder="+input()")
          +spacer
          +button +button()
        p
          | text
          +spacer
          +button +button()
        p
          | text
          +spacer
          +input(type="text" value="" placeholder="+input()")
        p
          | text
          +spacer
          +input(type="text" value="" placeholder="+input()")
          +spacer
          +button +button()
        p
          | text
          +spacer
          +input(type="text" value="" placeholder="+input()")
          +spacer
          +button(href="") a.button
        p
          | text
          +spacer
          +input(type="text" value="" placeholder="+input()")
          +spacer
          +select(autocomplete="off")
            option +select()
            option this is a long text
        p
          +label
            +radio(name="radio")
            +spacer
            | +radio()
        p
          +label
            +radio(name="radio" checked="checked")
            +spacer
            | +radio()
        p
          +label
            +checkbox
            +spacer
            | +checkbox()
        p
          +label
            +checkbox(checked="checked")
            +spacer
            | +checkbox()
        p
          +textarea(rows="5" placeholder="+textarea()")
