include /assets/elements/main

doctype
+html(lang="ja")
  +head
    title form - Tests - 3000
  +body
    .page
      section.page__body.padding--lr-1em
        p
          +button button.button
          +spacer
          +button(href="/") a.button
        p
          +input(type="text" value="input.input")
          +spacer
          +button button.button
        p
          | text
          +spacer
          +button button.button
        p
          | text
          +spacer
          +input(type="text" value="input.input")
        p
          | text
          +spacer
          +input(type="text" value="input.input")
          +spacer
          +button button.button
        p
          | text
          +spacer
          +input(type="text" value="input.input")
          +spacer
          +button(href="/") a.button
        p
          | text
          +spacer
          +input(type="text" value="input.input")
          +spacer
          +select(autocomplete="off")
            option text
            option this is a pretty long text
        p
          +label
            input(type="radio" autocomplete="off")
            +spacer
            | radio
        p
          +label
            input(type="checkbox" autocomplete="off")
            +spacer
            | checkbox
        p
          +textarea(rows="5")
            | textarea.textarea
