include /assets/elements/main

doctype
+html(lang="ja")
  +head
    +title +label() - Tests
  +body
    .page
      section.page__body.padding--lr-1rem
        p
          label
            input(type="checkbox")
            +spacer
            +code label
        p
          label.label
            input(type="checkbox")
            +spacer
            +code label.label
        p
          label.label(for="id1")
            input(type="checkbox" id="id1")
            +spacer
            +code label.label(for="id1")
        p
          +label()
            input(type="checkbox")
            +spacer
            +code +label()
        p
          +label(for="")
            input(type="checkbox")
            +spacer
            +code +label(for="")
        p
          +label(for="id2")
            input(type="checkbox" id="id2")
            +spacer
            +code +label(for="id2")
        p
          +label
            +checkbox
            +spacer
            +code +label()
        p
          +label(for="")
            +checkbox
            +spacer
            +code +label(for="")
        p
          +label(for="id3")
            +checkbox(id="id3")
            +spacer
            +code +label(for="id3")
        +hr
        p
          label
            input(type="radio" name="radio")
            +spacer
            +code label
        p
          label.label
            input(type="radio" name="radio")
            +spacer
            +code label.label
        p
          label(for="id4")
            input(type="radio" name="radio" id="id4")
            +spacer
            +code label(for="id4")
        p
          +label
            input(type="radio" name="radio")
            +spacer
            +code +label()
        p
          +label(for="")
            input(type="radio" name="radio")
            +spacer
            +code +label(for="")
        p
          +label(for="id5")
            input(type="radio" name="radio" id="id5")
            +spacer
            +code +label(for="id5")
        p
          +label
            +radio(name="radio")
            +spacer
            +code +label()
        p
          +label(for="")
            +radio(name="radio")
            +spacer
            +code +label(for="")
        p
          +label(for="id6")
            +radio(name="radio" id="id6")
            +spacer
            +code +label(for="id6")
        +hr
        p
          +label
            +code +label()
            br
            +input(type="text" placeholder="+input()")
        p
          +label(for="id7" fastclick="true")
            +code +label(for="id7")
            br
            +input(type="text" placeholder="+input()" id="id7")
        p
          +label(for="id8" fastclick="false")
            +code +label(for="id8" fastclick="false")
            br
            +input(type="text" placeholder="+input()" id="id8")
