.body
  height 100%
  color black
  font-size medium
  font-family sans-serif
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

  @media only screen and (min-width: 1024px)
    overflow-x hidden
