.button
    margin 0
    padding 0
    overflow visible
    color inherit
    font inherit
    text-transform none
    cursor pointer
    background-color transparent
    border none
    -webkit-appearance none

    &[disabled]
        cursor default

    &:hover,
    &:focus,
    &:active
        outline 0

    &::-moz-focus-inner
        border 0
        padding 0
