.button
    padding 0
    cursor pointer
    background none
    border none
    -webkit-appearance none
    -webkit-font-smoothing antialiased

    &:hover,
    &:focus,
    &:active
        outline 0
