.checkbox
  position relative

  span
    position relative
    display inline-block
    width 1em
    height 1em
    overflow hidden
    border 1px solid
    border-radius 4px
    vertical-align bottom

  input
    position absolute
    z-index 2
    opacity 0
    cursor pointer

    &:checked + span
      background-color gray

      &:before
        content "L"
        position absolute
        top -10%
        left 35%
        z-index 1
        display block
        width 0.5em
        height 1em
        color white
        font-size 0.9em
        font-weight bold
        line-height 1.1
        transform scaleX(-1) rotate(-40deg)
