.radio

  &__self
    position relative
    display inline-block
    width 1em
    height 1em
    overflow hidden
    border 1px solid
    border-radius 1em
    text-align center
    vertical-align -10%
    background-color white

  &__status
    display block
    box-sizing border-box
    height 100%
    overflow hidden
    border 3px solid white
    border-radius 1em

  input
    position absolute
    top 0
    left 0
    width 1em
    height 1em
    opacity 0
    cursor pointer

    &:checked + span
      background-color black
