.radio
  position relative

  span
    position relative
    display inline-block
    width 1em
    height 1em
    overflow hidden
    border 1px solid
    border-radius 1em
    vertical-align bottom

  input
    position absolute
    z-index 2
    opacity 0
    cursor pointer

    &:checked + span
      background-color white

      &:before
        content ""
        position relative
        top 20%
        z-index 1
        display block
        margin 0 auto
        width 60%
        height 60%
        overflow hidden
        border-radius 1em
        background-color black
