.row
    display table
    table-layout fixed
    width 100%

    &__cell,
    &__gutter
        display table-cell
        vertical-align top

    &__gutter
        width 1em
        font-size gutter
