mixin checkbox

  - var classes = attributes.class
  - attributes.class = null

  span.checkbox(
    class=classes
  )
    input&attributes(attributes)(
      type="checkbox"
      autocomplete="off"
    )
    span
