mixin checkbox

  - var classes = attributes.class
  - attributes.class = null

  span.checkbox(
    class=classes
  )
    span.checkbox__self
      input&attributes(attributes)(
        type="checkbox"
        autocomplete="off"
      )
      span.checkbox__status
