mixin click

  if (attributes.href)
    a&attributes(attributes).click(ontouchstart="")
      block
  else if (attributes.for)
    label&attributes(attributes).click(ontouchstart="")
      block
  else
    button&attributes(attributes).click(ontouchstart="")
      block
