mixin head

  head
    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    //- script
    //-   :coffee
    //-     do ->
    //-       meta = document.createElement("meta")
    //-       meta.setAttribute("name", "viewport")
    //-       if (navigator.userAgent.match(/iPad/i))
    //-         meta.setAttribute("content", "width=1024, initial-scale=1.0")
    //-       else
    //-         meta.setAttribute("content", "initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    //-       document.getElementsByTagName("head")[0].appendChild(meta)
    //- script.
    //-   (navigator.userAgent.match(/iPhone|iPod|Android/i)) ? document.documentElement.className += ' ua--sp' : document.documentElement.className += ' ua--pc';
    //- meta(name="apple-mobile-web-app-capable" content="yes")
    //- meta(name="apple-mobile-web-app-title" content="")
    //- meta(name="keywords" content="")
    link(href=data.relativeRoot + "assets/styles/main.css" rel="stylesheet" media="only all")
    script(src=data.relativeRoot + "assets/scripts/main.js" charset="utf-8")
    //- script
    //-   :coffee
    //-     do ->
    //-       if (!window.navigator.standalone)
    //-         meta = document.createElement("meta")
    //-         meta.setAttribute("name", "apple-mobile-web-app-status-bar-style")
    //-         meta.setAttribute("content", "black-translucent")
    //-         head = document.getElementsByTagName("head")[0]
    //-         head.appendChild(meta)
    //- link(href="/favicon.ico" rel="shortcut icon")
    //- link(href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon")
    //- link(href="/apple-touch-startup-image.png" rel="apple-touch-startup-image")
    block
