mixin head

  - var responsible = true

  if (attributes.responsible === "false")
    - responsible = false

  - attributes.responsible = null

  head
    meta(charset="utf-8")
    if (responsible)
      include /assets/partials/viewport/responsive
    else
      include /assets/partials/viewport/adaptive
    include /assets/partials/head/meta
    link(href=data.relativeRoot + "assets/styles/main.css" rel="stylesheet" media="only all")
    script(src=data.relativeRoot + "assets/scripts/main.js" charset="utf-8")
    include /assets/partials/head/link
    block
