mixin head

  - var responsible = true

  if (attributes.responsible === "false")
    - responsible = false

  - attributes.responsible = null

  head
    meta(charset="utf-8")
    if (responsible)
      include /assets/partials/viewport/responsive
    else
      include /assets/partials/viewport/adaptive
    meta(name="format-detection" content="telephone=no")
    //- meta(name="apple-mobile-web-app-capable" content="yes")
    //- meta(name="apple-mobile-web-app-title" content="")
    //- meta(name="keywords" content="")
    link(href=data.relativeRoot + "assets/styles/main.css" rel="stylesheet" media="only all")
    script(src=data.relativeRoot + "assets/scripts/main.js" charset="utf-8")
    //- link(href="/favicon.ico" rel="shortcut icon")
    //- link(href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon")
    //- link(href="/apple-touch-startup-image.png" rel="apple-touch-startup-image")
    block
