mixin label

  //- Usage: +label(for="id" fastclick="false")

  - var goFlag = true

  if (attributes.fastclick === "false")
    - goFlag = false

  if (attributes.fastclick)
    - attributes.fastclick = null

  if (attributes.for === "")
    - attributes.for = null
  else if (goFlag)
    - var targetId = attributes.for
    - attributes.for = null

  if (goFlag && targetId)
    span&attributes(attributes).label.label--fastclick(
      onclick="NS.label({for:'#{targetId}'})"
      )
      block
  else
    label&attributes(attributes).label
      block
