mixin radio

  - var classes = attributes.class
  - attributes.class = null

  span.radio(
    class=classes
  )
    span.radio__self
      input&attributes(attributes)(
        type="radio"
        autocomplete="off"
      )
      span.radio__status
