mixin spacer

  - var by = attributes.by
  - attributes.by = null

  if (by)
    if (attributes.style)
      - attributes.style += "; width:" + by + "em;"
    else
      - attributes.style = "width:" + by + "em;"

  span&attributes(attributes).spacer
