include /assets/elements/main

doctype
+html(lang="ja")
  +head
    +title Tests
  +body
    .page
      section.page__body
        h1.margin--lr-1rem HTML6 Tests
        ul.line-height--x-wide
          li
            a(href="accordion/") +accordion()
          li
            a(href="checkbox/") +checkbox()
          li
            a(href="details/") +details()
          li
            a(href="form/") form
          li
            a(href="label/") +label()
          li
            a(href="rating/") +rating()
          li
            a(href="rem/") rem
