include /assets/elements/main

doctype
+html(lang="ja")
  +head
    title Tests - 3000
  +body
    .page
      .row
        .row__gutter
        .row__cell
          h1 Tests
          ul
            li
              a(href="label/") +label()
