include /assets/elements/main

doctype
+html(lang="ja")
  +head
    +title +checkbox() - UI Tests
  +body
    .page
      section.page__body.padding--lr-1rem
        p
          +label.line-height--xx-wide
            +radio(name="radio")
            +spacer
            +code .line-height--xx-wide
        p
          +label(for="radio")
            +radio(name="radio")#radio
            +spacer
            +code +label(for=id)
        p
          +radio(name="radio" checked="checked")
          +spacer
          | No label
        +hr
        p
          +label.line-height--xx-wide
            +checkbox
            +spacer
            +code .line-height--xx-wide
        p
          +label(for="checkbox")
            +checkbox(id="checkbox")
            +spacer
            +code +label(for=id)
        p
          +checkbox(checked="checked")
          +spacer
          | No label
