include /assets/modules/main

doctype
+html(lang="ja")
  +head
    title +label() - Tests - 3000
  +body
    .page
      .row
        .row__gutter
        .row__cell
            p
              label
                input(type="checkbox")
                span  label
            p
              label.label
                input(type="checkbox")
                span  label.label
            p
              label.label(for="id1")
                input(type="checkbox" id="id1")
                span  label.label(for="id1")
            p
              +label()
                input(type="checkbox")
                span  +label()
            p
              +label(for="")
                input(type="checkbox")
                span  +label(for="")
            p
              +label(for="id2")
                input(type="checkbox" id="id2")
                span  +label(for="id2")
    if (options.devmode)
      script(src="//localhost:35729/livereload.js" charset="utf-8")
