include /assets/elements/main

doctype
+html(lang="ja")
  +head
    title Title
    +meta(description="")
  +body#top
    .page#page--index.padding--horizontal
      h1 Heading
      h2 Heading
      h3 Heading
