include /assets/elements/main

doctype
+html(lang="ja").sizing--border-box
  +head
    title Title
    +meta(description='')
  +body#top
    .page#page--index.padding--horizontal-default
      h1 Heading
      h2 Heading
      h3 Heading
