//- GRAY PALETTE
black      = #000
//- dimgray    =
//- gray       =
//- darkgray   =
//- silver     =
//- lightgray  =
//- whitesmoke =
white      = #fff

//- FONT SIZE
xx-small = 1.0rem
x-small  = 1.2rem
small    = 1.3rem
medium   = 1.6rem
large    = 1.8rem
x-large  = 2.1rem
xx-large = 2.6rem

//- FONT FAMILY
serif      = unquote('"Palatino", "Palatino Linotype", serif')
sans-serif = unquote('"Helvetica Neue", "Arial", sans-serif')
monospace  = unquote('"Monaco", "Lucida Console", monospace')

//- DEFAULT VALUES
margin = 16px
gutter = 20px

//- VENDOR PREFIX
vendor-prefixes = webkit moz ms o official
