//- COLOR PALETTE
black      = #000
dimgray    = #333
gray       = #808080
darkgray   = #a9a9a9
silver     = #c0c0c0
lightgray  = #d3d3d3
whitesmoke = #f5f5f5
white      = #fff

//- FONT SIZE
xx-small = 0.8rem
x-small  = 1.0rem
small    = 1.2rem
medium   = 1.4rem
large    = 1.6rem
x-large  = 1.8rem
xx-large = 2.0rem

//- FONT FAMILY
serif      = unquote('Palatino, "Palatino Linotype", Georgia, serif')
sans-serif = unquote('"Helvetica Neue", Helvetica, Arial, sans-serif')
monospace  = unquote('Monaco, Consolas, "Lucida Console", monospace')

//- CONSTANT
MARGIN    = 16px
GUTTER    = 20px
CONTAINER = 960px

//- VENDOR PREFIX
vendor-prefixes = webkit moz ms o official
