/* @2x */

$sprite--demo-2x()
  box-sizing border-box
  width 100px * 0.5
  height 100px * 0.5
  overflow hidden
  background-image url("./sprites/2x-1436399041.png")
  background-size 100px * 0.5 100px * 0.5
  background-position 0px * 0.5 0px * 0.5

.sprite--demo-2x
  padding-top 100px * 0.5
  width 100px * 0.5
  background-image url("./sprites/2x-1436399041.png")
  background-size 100px * 0.5 100px * 0.5
  background-position 0px * 0.5 0px * 0.5
