//- link(href="/favicon.ico" rel="shortcut icon")
//- link(href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon")
//- link(href="/apple-touch-startup-image.png" rel="apple-touch-startup-image")
