//- .margin
.margin--vertical-default
  margin-top MARGIN
  margin-bottom MARGIN

.margin--horizontal-default
  margin-right GUTTER
  margin-left GUTTER

//- .padding
.padding--vertical-default
  padding-top MARGIN
  padding-bottom MARGIN

.padding--horizontal-default
  padding-right GUTTER
  padding-left GUTTER
