html.html:root .margin

  &--vertical-default
    margin-top MARGIN
    margin-bottom MARGIN

  &--horizontal-default
    margin-right GUTTER
    margin-left GUTTER

html.html:root .padding

  &--vertical-default
    padding-top MARGIN
    padding-bottom MARGIN

  &--horizontal-default
    padding-right GUTTER
    padding-left GUTTER
