html.html:root .margin

  &--vertical
    margin-top MARGIN
    margin-bottom MARGIN

  &--horizontal
    margin-right GUTTER
    margin-left GUTTER

html.html:root .padding

  &--vertical
    padding-top MARGIN
    padding-bottom MARGIN

  &--horizontal
    padding-right GUTTER
    padding-left GUTTER
