html.html:root

  .color

    &--black
      color black

    &--dimgray
      color dimgray

    &--gray
      color gray

    &--darkgray
      color darkgray

    &--silver
      color silver

    &--lightgray
      color lightgray

    &--whitesmoke
      color whitesmoke

    &--white
      color white

    &--navy
      color navy

    &--blue
      color blue

    &--aqua
      color aqua

    &--teal
      color teal

    &--olive
      color olive

    &--green
      color green

    &--lime
      color lime

    &--yellow
      color yellow

    &--orange
      color orange

    &--red
      color red

    &--maroon
      color maroon

    &--fuchsia
      color fuchsia

    &--pink
      color pink

    &--purple
      color purple
