html.html:root

    .font

        &--serif
            font-family serif

        &--sansserif
            font-family sans-serif

        &--monospace
            font-family monospace

        &--bold
            font-weight bold

        &--italic
            font-style italic

        &--xxsmall
            font-size xx-small

        &--xsmall
            font-size x-small

        &--small
            font-size small

        &--medium
            font-size medium

        &--large
            font-size large

        &--xlarge
            font-size x-large

        &--xxlarge
            font-size xx-large
