html.html:root

    .font

        &--serif
            font-family serif

        &--sansserif
            font-family sans-serif

        &--monospace
            font-family monospace

        &--bold
            font-weight bold

        &--italic
            font-style italic

        &--xx-small
            font-size xx-small

        &--x-small
            font-size x-small

        &--small
            font-size small

        &--medium
            font-size medium

        &--large
            font-size large

        &--x-large
            font-size x-large

        &--xx-large
            font-size xx-large
