html.html:root .clear

  &--left
    clear left

  &--right
    clear right

  &--both
    clear both

  &--fix
    clearfix()

html.html:root .color

  &--black
    color black

  &--dimgray
    color dimgray

  &--gray
    color gray

  &--darkgray
    color darkgray

  &--silver
    color silver

  &--lightgray
    color lightgray

  &--whitesmoke
    color whitesmoke

  &--white
    color white

  &--navy
    color navy

  &--blue
    color blue

  &--aqua
    color aqua

  &--teal
    color teal

  &--olive
    color olive

  &--green
    color green

  &--lime
    color lime

  &--yellow
    color yellow

  &--orange
    color orange

  &--red
    color red

  &--maroon
    color maroon

  &--fuchsia
    color fuchsia

  &--pink
    color pink

  &--purple
    color purple

html.html:root .cursor

  &--default
    cursor default

  &--pointer
    cursor pointer

  &--help
    cursor help

  &--left
    cursor w-resize

  &--right
    cursor e-resize

  &--deny
    cursor not-allowed

html.html:root .display

  &--none
    display none !important

  &--block
    display block

  &--inline
    display inline

  &--inline-block
    display inline-block

html.html:root .float

  &--left
    float left

  &--right
    float right

  &--none
    float none

html.html:root .font

  &--serif
    font-family serif

  &--sansserif
    font-family sans-serif

  &--monospace
    font-family monospace

  &--bold
    font-weight bold

  &--italic
    font-style italic

  &--xx-small
    font-size xx-small

  &--x-small
    font-size x-small

  &--small
    font-size small

  &--medium
    font-size medium

  &--large
    font-size large

  &--x-large
    font-size x-large

  &--xx-large
    font-size xx-large

html.html:root .height

  &--full
    height 100%

html.html:root .lineheight

  &--x-narrow
    line-height 1

  &--narrow
    line-height 1.25

  &--wide
    line-height 1.5

  &--x-wide
    line-height 1.75

  &--xx-wide
    line-height 2

html.html:root .margin

  &--none
    margin 0

  &--auto
    margin-right auto
    margin-left auto

html.html:root .overflow

  &--hidden
    overflow hidden

html.html:root .table

  &--auto
    table-layout auto

  &--fixed
    table-layout fixed

html.html:root .text

  &--left
    text-align left

  &--center
    text-align center

  &--right
    text-align right

  &--underline
    text-decoration underline

  &--line-through
    text-decoration line-through

  &--uppercase
    text-transform uppercase

  &--lowercase
    text-transform lowercase

html.html:root .vertical

  &--top,
  &--middle,
  &--bottom

    thead,
    tbody,
    tfoot
      vertical-align inherit

  &--top
    vertical-align top

  &--middle
    vertical-align middle

  &--bottom
    vertical-align bottom

html.html:root .width

  &--auto
    width auto

  &--full
    width 100%

  &--half
    width 50%
