html.html:root

    .lineheight

        &--x-narrow
            line-height 1

        &--narrow
            line-height 1.25

        &--wide
            line-height 1.5

        &--x-wide
            line-height 1.75

        &--xx-wide
            line-height 2
