html.html:root .lineheight

    &--xnarrow
        line-height x-narrow

    &--narrow
        line-height narrow

    &--wide
        line-height wide

    &--xwide
        line-height x-wide

    &--xxwide
        line-height xx-wide
