html.html:root

    .lineheight

        &--xnarrow
            line-height 1

        &--narrow
            line-height 1.25

        &--wide
            line-height 1.5

        &--xwide
            line-height 1.75

        &--xxwide
            line-height 2
