html.html:root .text

    &--left
        text-align left

    &--center
        text-align center

    &--right
        text-align right

    &--underline
        text-decoration underline

    &--linethrough
        text-decoration line-through

    &--uppercase
        text-transform uppercase

    &--lowercase
        text-transform lowercase
