html.html:root

  .vertical

    &--top,
    &--middle,
    &--bottom

      thead,
      tbody,
      tfoot
        vertical-align inherit

    &--top
      vertical-align top

    &--middle
      vertical-align middle

    &--bottom
      vertical-align bottom
